{% extends "base.html" %}

{% block content %}

<div style="margin: 20px" class="card">
    <div class="card-body">
        <h5 class="card-title">Listagem de agendas</h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                <tr>
                    <th scope="row">{{agenda.id}}</th>
                    <td>{{agenda.title}}</td>
                    <td>{{agenda.description}}</td>
                    <td style="padding:0px;padding-top: 3px">
                        <a href="/agenda/{{agenda.id}}"><button type="button"
                                class="btn btn-success bmd-btn-fab bmd-btn-fab-sm"><i
                                    class="material-icons">create</i></button></a>
                        <a href="/agenda/delete/{{agenda.id}}" confirm="Deseja excluir essa agenda?"><button
                                type="button" class="btn btn-danger bmd-btn-fab bmd-btn-fab-sm"><i
                                    class="material-icons">delete</i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="/agenda">
    <button type="button" style="position: fixed;bottom: 15px;right: 15px" class="btn btn-primary bmd-btn-fab">
        <i class="material-icons">add</i>
    </button>
</a>

<script>
    $('a').click(function (e) {
        var txtConfirmacao = $(this).attr("confirm");
        if (txtConfirmacao) {
            e.preventDefault();
            var link = $(this).attr('href');
            swal({
                title: "Confirmação",
                text: txtConfirmacao,
                icon: "warning",
                buttons: ["Não", "Sim, excluir"],
            }).then(function (result) {
                if (result)
                    window.location.href = link;
            });

        }
    });
</script>

{% endblock %}