{% extends "base.html" %}

{% block content %}

<div style="margin: 20px" class="card">
    <div class="card-body">
        <h5 class="card-title">Adicionar agenda</h5>
        <form action="/agenda/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title_form" class="bmd-label-floating">Titulo</label>
                <input id="title_form" class="form-control" type="title_form" name="title_form">
            </div>
            <div class="form-group">
                <label for="description_form" class="bmd-label-floating">Descrição</label>
                <input id="description_form" class="form-control" type="text" name="description_form">
            </div>

            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
